h1 {
    text-align: center;
}

#customer-form .c-label {
    color: #909090;
    padding-top: 5px;
    padding-bottom: 2px;
}

#customer-form {
    margin: 0 auto;
    background-color: #fcfcfc;
    padding: 50px;
    box-shadow: 1px 4px 10px 1px #aaa;
    font-family: sans-serif;
}

#customer-form * {
    box-sizing: border-box;
}

#customer-form h2{
    text-align: center;
    margin-bottom: 30px;
}

#customer-form input {
    margin-bottom: 15px;
}

#customer-form input[type=text], #customer-form input[type=email],  #customer-form textarea {
    display: block;
    height: 32px;
    padding: 6px 16px;
    width: 100%;
    border: none;
    background-color: #f3f3f3;
}

#customer-form textarea {
    height: unset !important;
}

#customer-form label {
    color: #777;
    font-size: 0.8em;
}

#customer-form input[type=checkbox] {
    float: left;
}

#customer-form input:not(:checked) + #customer-phone {
    height: 0;
    padding-top: 0;
    padding-bottom: 0;
}

#customer-form #customer-phone {
    transition: .3s;
}

#customer-form button[type=submit] {
    display: block;
    margin: 20px auto 0;
    width: 150px;
    height: 40px;
    border-radius: 25px;
    border: none;
    color: #eee;
    font-weight: 700;
    box-shadow: 1px 4px 10px 1px #aaa;

    background: #207cca; /* Old browsers */
    background: -moz-linear-gradient(left, #207cca 0%, #9f58a3 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #207cca 0%,#9f58a3 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #207cca 0%,#9f58a3 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#207cca', endColorstr='#9f58a3',GradientType=1 ); /* IE6-9 */
}

.res_msg {
    padding-top: 10px;
}

.success {
    color: green;
}

.red {
    color: red;
}